.navbar-inverse, .btn-default {
	background-color: #4CAF50;
}
body {
	background-color: #FAFAFA;
}
p {
	font-size: 12pt;
}
.btn-default, .btn-default:hover {
	color: white;
}
.btn-default:hover {
	background-color: #81C784;
}